.banniere{
    background-image: url('../img/4401280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    
}

.fa-regular{
    font-size: 50px;
    margin-bottom: 10px;
}

.about-img{
    height: 70vh;
    width: 95vh;
}

.card-w{
    width: 110px;
    text-align: center;
}

.card-w:hover{
    border-color: rgb(19, 158, 111);
    border-bottom: 3px rgb(19, 158, 111) solid;
}

.content-banniere{
    left: -12rem !important;
    position: relative;
}

.projet-border{
    
    margin: 8px 0px 8px 0px;
    padding: 5px;
    border-radius: 15px;
}

.ml-navbar{
    margin-left: 25%;
    
}

.bg-navbar{
    background-color: white !important;
}

.bg-card{
    background-color: rgb(238, 238, 238) !important;
}

.message-erreur {
    color: red;
    font-size: 14px;
}

